html, body {
  width: 100%;
}

body {
  font-family: "Open sans", sans-serif;
}

header {
  background-color: #E5F3F2;
  padding: 10px 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  text-align: center;
  margin: 10px 0 20px 0;
  color: #00A79D;
  font-size: 35px;
}

h1 span {
  color: #6D6E71;
}

form {
  width: 100%;
  margin: auto;
}

input, textarea, #save, .search {
  border: 2px solid #d1d3d4;
  font-family: "Open sans", sans-serif;
}

input, textarea, #save {
  display: block;
  margin: 15px auto;
}

input {
  width: 85%;
  height: 30px;
  padding-left: 5px;
}

input:focus, textarea:focus, .search:focus {
  outline-color: #045e55;
  outline-width: .2em;
}

#save:focus {
  outline-color: #00a79d;
  outline-width: .2em;
}

textarea {
  resize: none;
  width: 90%;
}

:placeholder-shown {
  padding-left: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #d1d3d4;
}

#body {
  width: 85%;
  min-height: 85px;
  padding-left: 5px;
}

#save {
  width: 87%;
  height: 40px;
  background-color: #00A790;
  color: #FFF;
  border: none;
  margin-bottom: 8px;
  font-size: 1.2em;
}

#save:hover {
  background-color: #045e55;
  cursor: pointer;
}

#save:disabled {
  background-color: #97c6bf;
  cursor: default;
}

.search {
  width: 84%;
}

article {
  position: relative;
  width: 86%;
  min-height: 150px;
  margin: 10px auto;
  border-bottom: 2px solid #d1d3d4;
  padding-top: 10px;
}

h2, p {
  margin: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
  font-size: 22px;
  max-width: 90%;
}

p {
  color: #939598;
  padding: 15px 0 5px 0;
  min-height: 60px;
  font-size: 1.1em;
  margin-top: 6px;
}

h2:focus, p:focus {
  outline-color: #045e55;
  outline-width: .2em;
  padding: 2px;
}

h3 {
  color: #6d6e71;
  font-size: 16px;
  bottom: 0;
  padding-left: 73px;
}

.downvote, .upvote, #delete-btn {
  width: 25px;
  height: 25px;
}

.downvote, .upvote {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 15px 0;
}

.upvote {
  background: url('icons/upvote.svg');
}

.downvote {
  background: url('icons/downvote.svg');
  margin-left: 35px;
}

.upvote:hover {
  background: url('icons/upvote-hover.svg');
}

.downvote:hover {
  background: url('icons/downvote-hover.svg');
}

#delete-btn {
  position: absolute;
  background: url('icons/delete.svg');
  right: 0;
  top: 0;
  margin-top: 13px;
}

#delete-btn:hover {
  background: url('icons/delete-hover.svg');
}

#unique-id {
  margin: 0;
  display: none;
}


@media screen and (min-width: 700px) {

  form, .ideas {
    width: 60%;
    margin: auto;
  }

  #body {
    min-height: 15px;
  }

  #save {
    width: 52%;
  }

  .search {
    width: 51%;
  }

}
